<?xml version="1.0" ?>

<launch>
    <arg name="eth0" default="192.168.0.106" />
    <arg name="wlan0" default="192.168.1.53" />
    <arg name="veh" />
    <group ns="$(arg veh)">
        <node pkg="bridge" type="bridge.py" name="bridge_joy_to_boat" args="$(arg eth0)" output="screen">
                <param name="bridge_type" value="Joy" />
                <param name="bridge_from" value="joy" />
                <param name="bridge_to" value="joy" />
        </node>
    </group>
</launch>